---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <HorizontalCard
    title="Notesforge"
    img="/notes.png"
    desc="A fast and lightweight task manager built with Next.js and TypeScript, designed for efficiency and simplicity with SQLite as its backend."
    url="https://github.com/Achyutem/NotesForge"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Meme Generator"
    img="/meme.png"
    desc="Built a dynamic web app for users to upload, edit, and download custom memes with visual effects. Delivered a secure, user-friendly experience with efficient file handling and performance-optimized features."
    url="https://memes-achyutem.vercel.app/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10"> Latest Projects</div>
  </div>

  <HorizontalCard
    title="EyeRest"
    img="/eyeRest.png"
    desc="This small app reminds you to take a short break every 20 minutes by showing a full-screen message for a minute."
    url="https://github.com/Achyutem/eyeRest"
    badge="health"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="ReadRush"
    img="/book.png"
    desc="Read faster. Effortlessly.ReadRush is a simple tool designed to help you speed-read any text with ease and efficiency"
    url="https://achyutem.github.io/ReadRush?ref=portfolio"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Jan Ausadhi Catalog"
    img="/medicine.png"
    desc="Jan Aushadhi App is a fast, lightweight, and installable web app (PWA) built to support the Indian Government’s Pradhan Mantri Bhartiya Janaushadhi Pariyojana (PMBJP) by offering a seamless way to explore generic medicines through an ad-free, distraction-free experience."
    url="https://achyutem.github.io/JanAusadhi?ref=portfolio"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Inflation Calculator"
    img="/inflation.png"
    desc="An app to measure inflation of indian currency over a time period."
    url="https://achyutem.github.io/inflation/?ref=github"
  />
</BaseLayout>
