---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Achyutem Dubey
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://github.com/achyutem" target="_blank" class="font-bold">Achyutem Dubey</a>
  </div>
</footer>
<style></style>
